table{
    width: 90%;
    padding: .2rem .5rem;
    text-align: left;
    border: 4px solid #2A7AE4;
    color: #E5E5E5;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    box-sizing: border-box;
}